main{
    text-align: center;
    width: 65%;
    margin: auto;
}
    .pres img{
        width: 100%;
        border-radius: 12px;
        margin-top: 40px;
        margin-bottom: 150px;
    }
    .pres h2{
        font-size: 70px;
    }
    .pres p{
        font-size: 25px;
    }