.contenitore-conferma{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
}

.prenotazione{
    width: 35%;
}
    .scelta, .prezzo{
        border: solid gray 0.5px;
        width: 90%;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding-bottom: 15px;
        margin-bottom: 10px;
        padding: 10px;
        padding-top: 0;
    }
        .datiscelta{
            width: 82%;
            display: flex; 
            align-items: center; 
            justify-content:space-between;
            white-space: nowrap; /* Impedisce al testo di andare a capo */
        }
            .borderdiv{
                border-left: solid gray 0.5px;
                padding-left: 10px;
            }
                .data{
                    margin: 4px 0 0 0;
                    font-weight: bold;
                }
                .grayp{
                    margin: 4px 0 0 0;
                    color: gray;
                    font-size: 14px;
                }

        .totale{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .subtotale{
            text-align: right;
            color: gray;
            font-size: 15px;
        }
        .euro{
            margin-bottom: 0;
            font-size: 26px;
        }

.dati{
    border: solid gray 0.5px;
    width: 65%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-top: 0;
}
    .anag{
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }
        .anagdiv{
            width: 50%;
            margin-bottom: 10px;
        }
        .cap{
            width: 25%;
            margin-bottom: 10px;
        }
            .anagdati{
                margin-top: 0;
                border-radius: 3px;
                border: solid gray 0.5px;
                width: 90%;
                padding: 10px;
            }

.pulsanti{
    display: flex;
    width: 70%;
    margin: 25px 0 0 auto;
    gap: 20px;
    justify-content: end;
}
    .conferma,.annulla{
        color:white;
        text-align: center;
        width: 20%;
        padding: 15px;
        white-space: nowrap; /* Impedisce al testo di andare a capo */
        border-radius: 5px;
        transition: transform 0.1s ease; /* Animazione fluida */
    }
    .conferma{
        background-color: #0864c7;
    }
        .conferma:hover{
            background-color: #054d9a;
            cursor: pointer;
        }
    .annulla{
        background-color: rgb(224, 10, 10);
    }
        .annulla:hover{
            background-color: rgb(158, 9, 9);
            cursor: pointer;
        }
    .pulsanti div:active{
        transform: scale(0.95); /* diminuisce al 95% */
    }
