.footer {
  background: rgba(255, 255, 255, 0.030);
  color: whitesmoke;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 170px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-section {
  max-width: 280px;
  margin: 0;
  margin-bottom: 20px;
  flex: 1 1 240px;
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p {
  color:  whitesmoke;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section a {
  color:  whitesmoke;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section a:hover {
  color:  whitesmoke;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
  border-top: 1px solid #333;
  padding-top: 15px;
}