main {
        padding-top: 0;
        text-align: left;
        width: 100%;
        margin: auto;
    }

    .hero{
      width: 85%;
      margin: auto;
      margin-bottom: 400px;
    }
      .hero h1{
        font-size: 100px;
      }
      .hero h2{
        font-size: 40px;
      }

    .vetrina{
      width: 100%;
      background-color: rgba(255, 255, 255, 0.030);
      margin-bottom: 250px;
      padding: 80px 0;
    }
      .vetrina-div{
        width: 85%;
        display: flex;
        margin: auto;
        gap: 40px;
      }
      .vetrina.reverse .vetrina-div{
        flex-direction: row-reverse;
      }
        .immagine{
          width: 65%;
        }
          .immagine img{
            width: 100%;
            border-radius: 12px;
          }
        .info{
          width: 35%;
        }
          .info h1{
            font-size: 60px;
            margin-top: 0
          }
          .info h2{
            font-size: 38px;
          }
          .info p{
            font-size: 20px;
            margin-bottom: 80px;
          }
          .button{
            padding: 15px;
            background-color: #2563eb;
            border-radius: 12px;
          }
            .button:hover{
              background-color: #1d4ed8;
            }
