.hero{
    display: flex;
    width: 100%;
    margin-bottom: 200px;
    background-color: whitesmoke;
    color: black;
    padding: 5% 0 5% 0;
    align-items: center;
    justify-content: space-between;
}
    .sinistra{
        width: 60%;
    }
        .carosello{
            width: 50%;
            margin: auto;
            border: solid black 3px;
        }
            .carosello img{
                width: 100%;
            }

    .destra{
        width: 35%;
    }

.features{
    width: 85%;
    margin: auto;
}
    .features-row{
        display: flex;
        align-items: stretch;
        gap: 12px;
        overflow: hidden;
    }
        .features-box{
            background-color: #3a3a3a6e;
            flex: 1;
            width: 25%;
            margin-top: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 100px;
            display: flex;
            flex-direction: column;
            transition: 0.2s ease;
        }
        .features-box:hover{
            cursor: pointer;
            transform: translateY(-5px) scale(1.02);    
        }